<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <form method="post" style="text-align: center;">
            <label><h5 style="font-family: product sans;">Email Address</h5></label>
            <input name="mail" value="{{request.form.mail}}" placeholder="Enter E-mail" type="email">
            <br/>
            <label><h5 style="font-family: product sans;">Password</h5></label>
            <input name="pass" value="{{request.form.pass}}" placeholder="Enter Password" type="password">
            <br/>
            <p></p>
            <input type="submit" >
        </form>
    </body>
</html>